<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="list-container mt-2">
          <a routerLink="/" class="logo">Foody Moody</a>
          <nav>
            <ul type="none">
              <li>
                <a routerLink="/login">Login</a>
              </li>
              <li class="menu-container">
                <a routerLink="/dashboard">UserName</a>
                <div class="menu">
                  <a routerLink="/Profile">Profile</a>
                  <a routerLink="/Orders">Order</a>
                  <a routerLink="/logout">Logout</a>
                </div>
              </li>
              <li>
                <a routerLink="/cart-page"
                  >Cart<span class="ms-1" *ngIf="cartQuantity">{{
                    cartQuantity
                  }}</span></a
                >
              </li>
            </ul>
          </nav>
          <button mat-raised-button color="primary">Primary</button>
        </div>
      </div>
    </div>
  </div>
</header>
