

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/scss/bootstrap";
@import "scss/header.scss";
@import "scss/home.scss";
@import "scss/content.scss";
@import "scss/search.scss";
html, body {
  height: 100%;
}

body {
  margin: 0;

 // background: pink;

}
