.main-container{
  position: relative;
  // padding-top: 50px;
  // padding-left: 350px;
  transition: all ease-in-out 0.35s;

  .main-content{
    position: relative;
    // padding-top: 50px;
    // padding-left: 350px;
  
    transition: all ease-in-out 0.35s;
  }
}
