.main-container {
  position: relative;
  // padding-top: 50px;
  // padding-left: 350px;
  transition: all ease-in-out 0.35s;

  .main-content {
    position: relative;
    // padding-top: 50px;
    // padding-left: 350px;

    transition: all ease-in-out 0.35s;
  }
}
.food-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;

  img {
    flex: 1 0;
    object-fit: cover;
    height: 30rem;
    margin: 1rem;
    border-radius: 3rem;
  }
  .details {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
  }
  .header {
    display: flex;
    justify-content: space-between;

    .name {
      font-weight: bold;
      font-size: 2rem;
    }
    .favourite {
      color: #e72929;
      font-size: 2.3rem;
    }
  }
  .origins {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    span {
      padding: 0.5rem;
      font-size: 1.2rem;
      margin: 0.5rem 0.5rem 0.5rem 0;
      border-radius: 1rem;
      background-color: aliceblue;
    }
  }
  .tags {
    flex-wrap: wrap;
    display: flex;
    a {
      text-decoration: none;
      padding: 0.3rem 1rem;
      border-radius: 10rem;
      margin: 0.2rem 0.15rem;
      background-color: #f0f0f0;
      font-weight: bold;
      color: blue;
    }
  }
  .cook-time {
    margin-top: 1rem;
    span {
      padding: 0.6rem 2rem 0.6rem 0;
      border-radius: 10rem;
      font-size: 1.3rem;
    }
  }
  .price {
    font-size: 1.8rem;
    margin: 2rem 2rem 2rem 0;
    color: green;
  }
  .price::before {
    content: "Price: ";
    color: #e72929;
  }
  button {
    background-color: #e72929;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: none;
    width: fit-content;
    // opacity: 1;
  }
  button:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
.food-container > * {
  min-width: 25rem;
  max-width: 40rem;
}
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 200;
  height: 15rem;

  a{
    font-size: 1.1rem;
    background-color: #e72929;
    border-radius: 0.7rem;
    padding: 0.7rem 1rem;
    color: white;
    border-radius: 10rem;
    margin: 1rem;
    opacity:0.8;
    text-decoration: none;
  }
  a:hover{
opacity: 1;
  }

}
