.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  min-height: calc(100vh - 80px);


  .card {
   min-width: 20rem;

    img {
      margin-top: -8rem;
      position: absolute;
      right: -4rem;
      height: 25vh;
    }
  }
}
