.tags-container
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;

    a{
      color:blue;
      text-decoration: none;
      background-color: #f0f0f0;
      margin: 0.6rem;
      padding: 0.3rem 0.6rem;
      border-radius: 10rem;
      font-weight: 700;
    }

}
